.DS_Store
Thumbs.db
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

ml/reports/
reports/
mlruns/
wandb/
runs/
outputs/
logs/
salvas/
*.log

ml/artifacts/model_registry/**/*
!ml/artifacts/model_registry/.gitkeep

dataset/
dataset_aug/
data/
raw/
*.zip
*.tar
*.tar.gz

.env
.env.*
secrets.h
**/secrets.h
**/secrets.*.h

build/
dist/

firmware/**/.pio/
firmware/**/.pioenvs/
firmware/**/.piolibdeps/

*.bin
*.img
